SQLALCHEMY_DATABASE_URI: "postgresql://{{app_name}}:{{app_name}}@localhost/{{app_name}}"
STORAGE_PATH: /var/scotty
SENTRY_DSN: "{{sentry_dsn}}"

TRANSPORTER_HOST: "{{transporter_host}}"
VACUUM_THRESHOLD: {{vacuum_threshold}}

{% if pin_remind_threshold is defined %}
PIN_REMIND_THRESHOLD: {{pin_remind_threshold}}
{% endif %}

{% if smtp is defined %}
SMTP: "{{smtp}}"
{% endif %}

{% if base_url is defined %}
BASE_URL: "{{base_url}}"
{% endif %}

{% if combadge_contact_timeout is defined %}
COMBADGE_CONTACT_TIMEOUT: {{combadge_contact_timeout}}
{% endif %}

{% if sha512sum is defined %}
SHA512SUM: "{{sha512sum}}"
{% endif %}

{% if free_space_threshold is defined %}
FREE_SPACE_THRESHOLD: {{free_space_threshold}}
{% endif %}

DEBUG: {% if install_with_debug is defined and install_with_debug -%}
true
{%- else -%}
false
{%- endif %}
