{% if hostname_redirect_aliases %}
server {
    listen 80;
    server_name {{hostname_redirect_aliases|join(',')}};
    rewrite ^ http://{{inventory_hostname}}$request_uri? permanent;
}
{% endif %}


server {
    listen 80;
    server_name {{inventory_hostname}};

    gzip_static on;
    gzip on;
    gzip_proxied any;
    gzip_types text/plain text/xml text/css application/x-javascript application/javascript;
    gzip_vary on;
    gzip_disable "MSIE [1-6]\.(?!.*SV1)";

    location /static {
       alias {{static_root}};
    }

    location ~ ^/(img|fonts|assets)/ {
       root /opt/scotty/src/static;
       gzip_static on;
    }

    location = / {
       rewrite ^/$ /static/index.html;
    }

    location /file_contents {
        alias /var/scotty;
        types {
          text/plain    log txt html xml sh txt ini conf;
          image/jpeg    jpg jpeg;
          image/png     png;
        }
    }


    location / {
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_pass http://unix:/var/run/{{app_name}}/wsgi.sock;
    }
}
