<div class="container">
  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="method">Authentication Method</label>
          {{#x-select id="method" class="form-control" value=auth.method as |xs|}}
            {{#xs.option value="stored_key"}}Stored Key{{/xs.option}}
            {{#xs.option value="password"}}Password{{/xs.option}}
            {{#xs.option value="key"}}Custom Key{{/xs.option}}
          {{/x-select}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          {{#if (eq auth.method "stored_key")}}
            <label for="stored_key">Stored Key</label>
            {{#x-select id="stored_key" class="form-control" value=auth.stored_key as |xs|}}
              {{#each keys as |key|}}
                {{#xs.option value=key}}{{key.description}}{{/xs.option}}
              {{/each}}
            {{/x-select}}
          {{/if}}
          {{#if (eq auth.method "password")}}
            <label for="password">Password</label>
            {{input id="password" type="password" class="form-control" value=auth.password placeholder="Password"}}
          {{/if}}
          {{#if (eq auth.method "key")}}
            <label for="key">RSA Key</label>
            {{textarea id="key" class="form-control" value=auth.key class="form-control key-input" wrap="off" spellcheck=false}}
          {{/if}}
        </div>
      </div>
    </div>
  </form>
</div>
