$screen-lg-min: 1500px;
@import 'bootstrap';
$grey-text: #cacaca;
@import 'pod-styles';

body {
  font-family: 'Lato', sans-serif;
  padding-top: 70px;
};

html {
  overflow-y: scroll;
}

.navbar-brand-img {
  height: 50px;
  padding-right: 10px;
};

$border-color: #eee;

.item {
  border: 1px solid $border-color;
  border-radius: $border-radius-base;
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
  padding: 1em;
}

.spaced-item {
  margin-bottom: 3px;
};

.outlet-layout {
  margin-left: 25%;
};

.outlet-frame {
  margin-left: 25px;
}

.deletion-text {
  font-style: italic;
};

.no-beams {
  color: $grey-text;
  font-style: italic;
}

.beam-list {
  height: 91%;
  overflow-y: scroll;
  padding-right: 5px;
  position: fixed;
  width: 25%;
}

.scotty-button {
  cursor: pointer;
}

.subtitle {
  color: $gray-light;
}

@import 'fonts';

@import 'ember-power-select/themes/bootstrap';
// $ember-power-select-line-height: 34px;
@import 'ember-power-select';
