<div class="component">
  <i class="fa fa-search"></i>&nbsp;{{input type="text" value=textbox keyUp=(perform key_up) class="textbox"}}&nbsp;<i {{action "clean"}} class="clear fa fa-times"></i>
</div>
