{{#if deleted}}
  <div class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    This beam has been deleted.
  </div>
{{else}}
  {{#if (not-eq purgeTime null)}}
    <div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      This beam will be deleted <strong>{{purgeString}}</strong>.
    </div>
  {{/if}}
{{/if}}

