{{#if session.isAuthenticated}}
  {{#unless beam.deleted}}
    <div class="pin-btn">
      <a alt="pin" onclick={{perform pin pinned}}><i class="fa fa-thumb-tack {{if pinned "pinned" "unpinned"}}"></i> {{#if pinned}}Unpin{{else}}Pin{{/if}}</a>
    </div>
  {{/unless}}
{{/if}}
