{{#unless beam.deleted}}
  <div class="pin-btn">
    <a alt="pin" onclick={{perform pin pinned}}>{{fa-icon "thumb-tack" class=(if pinned "pinned" "unpinned")}}{{#if pinned}}Unpin{{else}}Pin{{/if}}</a>
  </div>
{{/unless}}
