{% if hostname %}
server {
    listen 80;
    server_name {{ hostname.split('.')[0] }};
    rewrite ^ http://{{hostname}}$request_uri? permanent;
}

{% endif %}

server {
    {% if hostname %}
    server_name {{ hostname }};
    {% endif %}

    ## regular http - disable for https
    listen 80;

    gzip_static on;
    gzip on;
    gzip_proxied any;
    gzip_types text/plain text/xml text/css application/x-javascript application/javascript;
    gzip_vary on;
    gzip_disable "MSIE [1-6]\.(?!.*SV1)";

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log warn;


    location /static {
       alias /src/webapp/dist;
       gzip_static on;
    }

    location ~ ^/(img|fonts|assets)/ {
       root /src/webapp/dist/;
       gzip_static on;
    }

    location = / {
       rewrite ^/$ /static/index.html;
    }

    location /file_contents {
        alias /var/scotty;
        types {
          text/plain    log txt html xml sh txt ini conf json alerts_summary;
          image/jpeg    jpg jpeg;
          image/png     png;
        }
    }

    location / {
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_pass http://webapp:8000;
        client_max_body_size 10m;
    }
}
