{{#each issues as |issue|}}
  <span class="label label-primary">
    <i class="fa fa-ticket" aria-hidden="true"></i>&nbsp;
    <a class="issue-name" href="{{issue.url}}" target="_blank">{{issue.id_in_tracker}}</a>&nbsp;
    <i onclick="" {{action "remove_issue" issue}} class="fa fa-times issue-delete"></i>
  </span>
{{/each}}

