{{#page-card}}
  <div class="card-title grey-text">API</div>
  <p>Scotty supports a special type of beams called independent beams. Independent beams are made entirely by API calls without requiring any user interaction. Furthermore, a machine that initiates an independent beam is responsible for opening the beam request in Scotty, as well as beam up the files by itself.</p>
  <p>Independent beams can be initiated using the <a href="http://git.infinidat.com/scotty/scotty-python">Python library</a>.</p>
  <p>The library, called <em>scotty</em>, exposes a single function named <em>beam_up</em>. This function receives a single required parameter, which is the directory to beam up from the local machine.</p>
  <p>An optional parameter is <em>scotty_url</em>, which defaults to <em>http://scotty</em></p>
{{/page-card}}
