<img id="starfleet" src="/static/assets/img/starfleet.png" class="hide-on-small-and-down"/>
<div class="navbar-fixed">
  <nav id="top-navbar" role="navigation">
    <div class="nav-wrapper container">
      <a href="#"><img src="/static/assets/img/scotty.png" id="portrait"><div id="logo-container" class="brand-logo">Scotty</div></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="http://en.memory-alpha.org/wiki/Montgomery_Scott">About</a></li>
        <li>{{#link-to "changelog"}}v{{model.version}}{{/link-to}}</li>
      </ul>
    </div>
  </nav>

</div>
{{outlet}}
