{{#if controllers.application.iframe}}
  <div style="height: 100%; width: 100%; padding: 20px;">
    {{beam-info-iframe beam=this}}
  </div>
{{else}}
  {{#page-card}}
    {{beam-info beam=this extended=true}}
  {{/page-card}}
{{/if}}
