{{#if application.iframe}}
  <div style="height: 100%; width: 100%; padding: 20px;">
    {{beam-info model=this.model extended=true back=back page=page file_filter=file_filter iframe=true}}
  </div>
{{else}}
  {{#page-card}}
    {{beam-info model=this.model extended=true back=back page=page file_filter=file_filter}}
  {{/page-card}}
{{/if}}
