<div class="container">
  <br/>
  <a class="waves-effect waves-light btn" href="#"><i class="mdi-navigation-arrow-back left"></i>back</a>
  <div class="page-card">
    <div class="card-content">
      <div class="card-title grey-text">Changelog</div>
      <h5>0.2.4</h5>
      <p>- Merge bug fixes from Weber</p>
      <h5>0.2.3</h5>
      <p>- Bug fixes to beam deletions</p>
      <h5>0.2.2</h5>
      <p>- Fix scheduled vacuuming<br/>
      - Fix mimetypes of log files</p>
      <h5>0.2.1</h5>
      <p>- Store logs on zfiler</p>
      <h5>0.2</h5>
      <p>- Various bug fixes<br/>
      - Beamed up files are better handled by the browser<br/>
      - This changelog</p>
      <h5>0.1</h5>
      <p>- Initial version</p>
    </div>
  </div>
</div>
