<div class="container">
  <br/>
  <a class="waves-effect waves-light btn" href="#"><i class="mdi-navigation-arrow-back left"></i>back</a>
  <div class="page-card">
    <div class="card-content">
      <div class="card-title grey-text">Changelog</div>
      <h5>Dev</h5>
      <p>- Various bug fixes<br/>
      - Beamed up files are better handled by the browser<br/>
      - This changelog</p>
      <h5>0.1</h5>
      <p>- Initial version</p>
    </div>
  </div>
</div>
