{{#page-card}}
  <div class="card-title grey-text">Changelog</div>
  <h5>0.3.2</h5>
  <p>- Fix a bug regarding user authentication</p>
  <h5>0.3.1</h5>
  <p>- Fix a bug which caused beaming errors from host running Python 3</p>
  <h5>0.3.0</h5>
  <p>- Bug fixes</p>
  <p>- Integrate Google users</p>
  <p>- Allow beaming up using API</p>
  <p>- Allow beaming up with a password instead of an SSH key</p>
  <h5>0.2.4</h5>
  <p>- Merge bug fixes from Weber</p>
  <h5>0.2.3</h5>
  <p>- Bug fixes to beam deletions</p>
  <h5>0.2.2</h5>
  <p>- Fix scheduled vacuuming<br/>
  - Fix mimetypes of log files</p>
  <h5>0.2.1</h5>
  <p>- Store logs on zfiler</p>
  <h5>0.2</h5>
  <p>- Various bug fixes<br/>
  - Beamed up files are better handled by the browser<br/>
  - This changelog</p>
  <h5>0.1</h5>
  <p>- Initial version</p>
{{/page-card}}
