{{#if this.application.iframe}}
<center>
  <h5 class="grey-text text-lighten-1">Could not find beams with the specified {{model}}</h5>
</center>
{{else}}
{{#page-card}}
<center>
  <h5>Could not find beams with the specified {{model}}</h5>
</center>
{{/page-card}}
{{/if}}
