{{#if controllers.application.iframe}}
<center>
  <h3>Could not find beams with the specified tag</h3>
</center>
{{else}}
{{#page-card}}
<center>
  <h3>Could not find beams with the specified tag</h3>
  <img src="/static/assets/img/doesnt-know.gif">
</center>
{{/page-card}}
{{/if}}

