{{#page-card}}
<div class="card-title grey-text">FAQ</div>
  <div style="display: flex">
    <div style="flex-grow: 2">
      <strong>I can download logs via the browser, but I get a 404 page when downloading via wget/curl</strong><br/>
Log files are compressed internally on the server, so you should use the <code>--compressed</code> flag of curl. For example:<br/>
<code>curl --compressed http://scotty.lab.il.infinidat.com//file_contents/31071-.__debug.log</code>
    </div>
    <div style="flex-grow: 0">
      <img src="/static/assets/img/faq.jpg" alt="" class="circle responsive-img z-depth-2" style="width: 300px">
    </div>
  </div>
{{/page-card}}
