<br/>
<div {{bind-attr class="controllers.application.iframe::container :beams-container"}}>
  {{#each beam in this}}
    <div class="beam-container">
      <div class="beam-card">
        <div class="card-content">
         {{beam-info beam=beam extended=false}}
        </div>
      </div>
    </div>
  {{/each}}
</div>

{{#unless controllers.application.iframe}}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
   {{#link-to "new-beam" class="btn-floating btn-large"}}
     <i class="large mdi-action-backup"></i>
   {{/link-to}}
</div>
{{/unless}}
