{{#page-card}}
  <div class="card-title grey-text">Summary</div>
  <div style="display: flex">
    <div style="flex-grow: 2">
      <p><b>Total Space Usage:</b>&nbsp;{{capacity-display model.space_usage}}</p>
      <p><b>Number of Beams:</b>&nbsp;{{model.number_of_beams}}</p>
      {{#if model.oldest_beam}}
        <p><b>Oldest Beam:</b>&nbsp;{{#link-to "beam" model.oldest_beam}}Beam #{{model.oldest_beam}}{{/link-to}}</p>
      {{/if}}
    </div>
    <div style="flex-grow: 0">
      <img src="/static/assets/img/summary.jpg" alt="" class="circle responsive-img z-depth-2" style="width: 300px">
    </div>
  </div>
{{/page-card}}
