{{#page-card}}
<table>
  <thead>
    <tr>
      <th>Tag</th>
      <th>Number of Beams</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |tag|}}
  <tr>
    <td>{{#link-to "tag" tag.id}}{{tag.id}}{{/link-to}}</td>
    <td>{{tag.number_of_beams}}</td>
  </tr>
  {{/each}}
  </tbody>
</table>
{{/page-card}}
